.header {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid lighten($secondary-color, 8%);
  @include drop-shadow();
}

@include desktop-screen {
  .header {
    height: 80px;

    .btn-primary {
      position: absolute;
      right: 35px;
      top: 50px;
      width: 11%;
      height: 50px;
      border-radius: 50px;
      min-width: 150px;
    }
  }
}

@include mobile-screen {
  .header {
    height: 60px;

    h2 {
      font-size: 1.2em;
    }

    .btn-primary {
      position: absolute;
      bottom: 15px;
      width: 70%;
      border-radius: 50px;
      z-index: 9996;
    }
  }
}
