@mixin drop-shadow {
  -webkit-box-shadow: 15px 15px 23px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 15px 15px 23px -4px rgba(0, 0, 0, 0.41);
  box-shadow: 15px 15px 23px -4px rgba(0, 0, 0, 0.41);
}

@mixin desktop-screen {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile-screen {
  @media only screen and (max-width: 768px) {
    @content;
  }
}
