@mixin drop-shadow {
  -webkit-box-shadow: 15px 15px 23px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 15px 15px 23px -4px rgba(0, 0, 0, 0.41);
  box-shadow: 15px 15px 23px -4px rgba(0, 0, 0, 0.41);
}

@mixin desktop-screen {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile-screen {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition: $what $time $how;
  -ms-transition: $what $time $how;
  -o-transition: $what $time $how;
  transition: $what $time $how;
}

@mixin opacity($animation-name) {
  @keyframes #{$animation-name} {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
