.side-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: $secondary-color;
  padding: 10px;
  border-right: 2px solid lighten($secondary-color, 8%);
  z-index: 9997;

  .header-menu {
    color: #fff;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      color: white;
      margin-top: 15px;
      border-radius: 5px;
      display: flex;
      background-color: $box-color;

      a {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        align-items: center;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .selected {
      @include drop-shadow();
      border: 1px solid $primary-color;
    }
  }
}

@include desktop-screen() {
  .side-menu {
    position: relative;  
  }

  .menu-closed {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .menu-opened {
    text-align: center;

    li {
      width: 250px;
    }

    .menu-icon {
      width: 50px;
      height: 50px;
    }
  }
}

@include mobile-screen() {    
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 45px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: $box-color;

    span {
      border-radius: 10px;
      background-color: #fff;
      width: 25px;
      height: 2px;
    }

    &:hover {
      cursor: pointer;
    }
  }
  .side-menu {        
    width: 70px; 
    @include transition(width, 100ms, ease);
    position: relative;

    .menu-opened {
      display: none;
    }

    .menu-closed {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;

      li {
        width: 50px;
      }

      h2 {
        position: absolute;
        transform: rotate(-90deg);
        bottom: 100px;
        width: 200px;
        left: -75px;
      }
    }

    &.opened {
      width: 200px;
      animation: opacity 100ms;
      position: absolute;
      @include opacity(opacity);
      
      .hamburger {
        span:first-child {
          opacity: 1;
          transform: translateY(11px) rotate(45deg)
        }

        span:nth-child(2){
          opacity: 0;
        }

        span:last-child {
          opacity: 1;
          transform: translateY(-6px) rotate(-45deg)
        }
      }

      li {
        width: 150px;
        a {
          flex-direction: column;
          text-align: center;
        }
        padding: 10px;
      }

      .menu-opened {
        display: flex;
        flex-direction: column;
      }

      .menu-closed {
        display: none;
      }

      .menu-icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}
