.side-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: $secondary-color;
  padding: 10px;
  border-right: 2px solid lighten($secondary-color, 8%);

  .header {
    color: #fff;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      color: white;
      margin-top: 15px;
      border-radius: 5px;
      display: flex;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@include desktop-screen() {
  .side-menu {
    max-width: 300px;

    .menu-closed {
      display: none;
    }

    .menu-opened {
      text-align: center;

      li {
        width: 250px;
        background-color: $box-color;

        a {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          align-items: center;
        }
      }

      .selected {
        @include drop-shadow();
        border: 1px solid $primary-color;
      }
    }
  }
}

@include mobile-screen() {
  .side-menu {
    max-width: 50px;

    .menu-opened {
      display: none;
    }

    .menu-closed {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;

      li {
        width: 50px;
      }

      h2 {
        position: absolute;
        transform: rotate(-90deg);
        bottom: 100px;
        width: 200px;
        left: -75px;
      }
    }
  }
}
