@import "_colors.scss";
@import "_mixins.scss";
@import "_functions.scss";
@import "_side-menu.scss";
@import "_modal.scss";
@import "_buttons.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
  color: #fff;
}

textarea,
input,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  display: flex;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.7em;
}

a {
  text-decoration: none;
}

input {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: $secondary-color;
  color: #fff;
  border: 1px solid darken($secondary-color, 50%);

  &:focus {
    border: 2px solid $primary-color;
  }

  &::placeholder {
    color: #fff;
  }
}

textarea {
  @extend input;
}